* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  color: rgb(72, 72, 72);
}

.header {
  padding: 25px;
  border-bottom: 1px solid lightgray;
  color: rgb(247, 57, 82);
  vertical-align: bottom;
}

/* WORKING CSS GRID without flex images */
.cover-grid {
  display: grid;
  grid-template-columns: 2fr repeat(2, 1fr);
  grid-template-rows: repeat(2, 18vw);
  box-shadow: 1px 1px rgb(20, 20, 20);
  overflow: hidden;
}

.cover-item-main {
  grid-area: 1 / 1 / 3 / 2;
}

div.cover-item {
  overflow: hidden;
}

.cover-item > img {
  min-height: 0%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  border: 1px solid rgb(20, 20, 20);
}

/* Attempt at grid sizing */
/* .cover-grid {
  display: grid; */
  /* grid-template-columns: 2fr minmax(1fr, 2fr); */
/* grid-template-rows: repeat(auto-fit, minmax(36vw, 2fr)); */
  /* grid-template-columns: 2fr repeat(2, 1fr);
  grid-template-rows: repeat(2, 18vw);
  box-shadow: 1px 1px rgb(20, 20, 20);
  overflow: hidden;
}

.cover-item-main {
  grid-area: 1 / 1 / 3 / 2;
}

div.cover-item {
  overflow: hidden;
}

.cover-item > img {
  min-height: 0%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  border: 1px solid rgb(20, 20, 20);
} */

/* Attempt at using flexbox to flex images */
/* .cover-grid {
  box-shadow: 1px 1px rgb(20, 20, 20);
  display: flex;
  flex-flow: column wrap;
  height: 38vh;
}

div.cover-item {
  overflow: hidden;
  flex: 1;
}

.cover-item > img {
  width: auto;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
  border: 1px solid rgb(20, 20, 20);
} */


/* NEW COVER ITEM
.cover-item > img {
  min-height: 0%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  border: 1px solid rgb(20, 20, 20);
  transition-duration: .25s;
  transition-timing-function: ease-in-out;
} */

/* .cover-item > img:hover{
  transform: scale(1.05);
} */



