* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  color: rgb(72, 72, 72);
}

.header {
  padding: 28px;
  border-bottom: 1px solid lightgray;
  color: rgb(247, 57, 82);
  vertical-align: bottom;
  font-weight: bold;
  font-size: 20px;
}

/* COVER PHOTOS */
.cover-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 18vw 18vw;
  /* box-shadow: 1px  rgb(72, 72, 72); */
  border: 1px  rgb(72, 72, 72);
  overflow: hidden;
}

.cover-item-main {
  grid-area: span 2 / span 2;
}

.cover-item {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid  rgb(72, 72, 72);
  background-color: rgba(0, 0, 0, 0.25);
}

.cover-item > img {
  min-height: 0%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

.cover-grid:hover > .cover-item > img {
  mix-blend-mode: darken;
}

.cover-item:hover > img:hover {
  transform: scale(1.05);
  mix-blend-mode: normal;
}

/* COVER BUTTONS */
.cover-button {
  padding: 7px 16px;
  font-size: 13px;
  font-weight: 900;
  border: white;
  border-radius: 3px;
  color: #484848;
  outline: none;
}

.view-photos {
  position: relative;
  bottom: 50;

}

.photo-modal {
  background-color: white;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2;
}

.photo-modal-close {
  float: right;
  padding: 32px;
  font-size: 60px;
  font-weight: lighter;
}

.photo-modal-img {
  /* TODO: update this to use css grid */
  margin: 20px 168px;
}

.photo-modal-text {
  /* TODO: update this to use css grid */
  margin: 20px 84px;
}

.photo-modal-photonum {
  font-size: 16px;
  font-weight: bold;
}

.photo-modal-desc {
  font-size: 16px;
}

.photo-modal-verified {
  font-size: 14px;
}

/*
.photo-modal-slider {

}
 */
