/* GENERAL STYLES */
* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  color: rgb(72, 72, 72);
}

.header {
  padding: 28px;
  border-bottom: 1px solid lightgray;
  color: rgb(247, 57, 82);
  vertical-align: bottom;
  font-weight: bold;
  font-size: 1.5rem;
}

/* COVER GRID LAYOUTS */
.coverGrid {
  border: 1px  rgb(72, 72, 72);
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 0;
  grid-template-rows: 18vw 18vw;
}

.grid1 {
  grid-template-areas:
  "cover-main cover-main cover-main cover-main"
  "cover-main cover-main cover-main cover-main";
}

.grid2 {
  grid-template-areas:
  "cover-main cover-main cover1 cover1"
  "cover-main cover-main cover1 cover1";
}

.grid3, .grid4, .grid5 {
  grid-template-areas:
  "cover-main cover-main cover1 cover1 cover3"
  "cover-main cover-main cover2 cover2 cover4";
}

.coverItemMain {
  grid-area: cover-main;
}

.cover1 {
  grid-area: cover1;
}
.cover2 {
  grid-area: cover2;
}
.cover3 {
  grid-area: cover3;
}
.cover4 {
  grid-area: cover4;
}

.coverItem {
  cursor: pointer;
  overflow: hidden;
  border: 1px solid  rgb(72, 72, 72);
  background-color: rgba(0, 0, 0, 0.25);
}

.coverItem > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

/* COVER HOVER EFFECTS */
.coverGrid:hover > .coverItem > img {
  background-color: rgba(0, 0, 0, 0.5);
  mix-blend-mode: darken;
}

.coverItem:hover > img:hover {
  transform: scale(1.05);
  mix-blend-mode: normal;
}

/* BUTTON STYLES */
.btn {
  border-radius: 3px;
  border: white;
  background-color: white;
  color: #484848;
  outline: none;
}

.coverButton {
  cursor: pointer;
  padding: 10px 20px;
  font-size: .8rem;
  font-weight: 900;
}

.viewPhotos {
  grid-column-start: 4;
  justify-self: right;
  position: relative;
  bottom: 55px;
  margin-right: 26px;
}

.btnwrapper2 {
  background: transparent;
  border: none;
  outline: none;
}

/* CSS Icons */
.leftArrow {
  cursor: pointer;
  height: 17px;
  width: 17px;
  border-radius: 2px;
  border-top: 3px solid rgb(72, 72, 72);
  border-left: 3px solid rgb(72, 72, 72);
  transform: rotate(-45deg);
  outline: none;
}

.rightArrow {
  cursor: pointer;
  height: 17px;
  width: 17px;
  border-radius: 2px;
  border-top: 3px solid rgb(72, 72, 72);
  border-right: 3px solid rgb(72, 72, 72);
  transform: rotate(45deg);
  outline: none;
}

.exitIcon {
  cursor: pointer;
  padding: 20px;
  font-size: 4rem;
}

/* MODAL STYLES */
.photoModal {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 40px 58vh .75fr .75fr .5fr;
  grid-template-columns: 1fr 70% 1fr;
  grid-template-areas:
    ". . pm-close"
    "pm-left pm-main pm-right"
    ". pm-carousel ."
    "pm-text pm-text pm-text"
    ". . .";
}

.photoModalClose {
  grid-area: pm-close;
  justify-self: right;
  margin-right: 20px;
}

.photoModalLeft {
  grid-area: pm-left;
  align-self: center;
  justify-self: right;
  padding-right: 25px;
}

.photoModalRight {
  grid-area: pm-right;
  align-self: center;
  justify-self: left;
  padding-left: 25px;
}

.photoModalMain {
  grid-area: pm-main;
  margin: auto;
}

.photoModalMain > img {
  cursor: pointer;
  border-radius: 16px;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.photoModalText {
  grid-area: pm-text;
  margin: 0px 150px;
}

.photoModalPhotonum {
  font-size: 1rem;
  font-weight: 700;
}

.photoModalDesc {
  font-size: .95rem;
  margin: 10px 0px;
}

.photoModalVerified {
  font-size: .85rem;
}

/* Photo modal carousel and effects */
.photoModalCarousel {
  grid-area: pm-carousel;
  justify-self: center;
  align-items: center;
  overflow-x: auto;
  display: flex;
  flex-flow: row nowrap;
  max-width: 600px;
}

.photoModalCarousel > button > img {
  cursor: pointer;
  margin: 2px 4px;
  object-fit: cover;
  border-radius: 5px;
  height: 50px;
  width: 50px;
}

.photoModalCarousel > button > img:hover {
  opacity: .8;
}

.photoUnselected {
  opacity: .5;
}

.photoSelected {
  box-shadow: 0px 0px 0px 2px rgb(72, 72, 72);
}

/* RESPONSIVE LAYOUTS */
/* the deltas */
@media (max-width: 450px) {
  .gridPosition {
    bottom: 2em;
  }

  .coverGrid {
    grid-template-columns: 1fr 0 0 0 0;
    grid-template-rows: 35vh;
  }

  .grid1, .grid2, .grid3, .grid4, .grid5 {
    grid-template-areas:
    "cover-main cover1 cover2 cover3 cover4";
  }

  .viewPhotos {
    display: none;
  }
}

@media (min-width: 451px) and (max-width: 750px) {
   .gridPosition {
    bottom: 2em;
  }

  .coverGrid {
    grid-template-columns: 1fr 0 0 0 0;
    grid-template-rows: 56vh;
  }

  .grid1, .grid2, .grid3, .grid4, .grid5 {
    grid-template-areas:
    "cover-main cover1 cover2 cover3 cover4";
  }

  .viewPhotos {
    display: none;
  }
}


@media (min-width: 751px) and (max-width: 1120px) {
  .gridPosition {
    bottom: 5.5em;
  }

  .coverGrid {
    grid-template-columns: 1fr 1fr 1fr 1fr 0;
    grid-template-rows: 30vh 30vh;
  }

  .grid4, .grid5 {
    grid-template-areas:
    "cover-main cover-main cover1 cover1 cover3"
    "cover-main cover-main cover2 cover2 cover4";
  }

  .photoModal {
    grid-template-rows: .25fr .75fr 3fr 2fr;
    grid-template-columns: .5fr 60% .5fr 1.5fr 0;
    grid-template-areas:
      ". . . pm-close"
      "pm-left pm-main pm-right pm-carousel"
      "pm-left pm-main pm-right pm-text";
  }

  .photoModalCarousel {
    align-items: flex-start;
    max-width: 250px;
  }

  .photoModalText {
    margin: 0px 40px;
  }

}

@media (min-width: 1121px) {
  .gridPosition {
    bottom: 5.5em;
  }

  .coverGrid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 18vw 18vw;
  }

  .grid1 {
    grid-template-areas:
    "cover-main cover-main cover-main cover-main"
    "cover-main cover-main cover-main cover-main";
  }

  .grid2 {
    grid-template-areas:
    "cover-main cover-main cover1 cover1"
    "cover-main cover-main cover1 cover1";
  }

  .grid4 {
    grid-template-areas:
    "cover-main cover-main cover1 cover2"
    "cover-main cover-main cover3 cover3";
  }

  .grid5 {
    grid-template-areas:
    "cover-main cover-main cover1 cover3"
    "cover-main cover-main cover2 cover4";
  }

}
